
<title>My application</title>
  
	<p>Enter an array of integers.</p>
	<p>Enter one integers in each of the second and third boxes.</p>
	<p>The program calculate second integer power of the first integer (Example:pow(firstInt,secondInt))</p>
	<p>And seaches the result in the array. If it founds returns true.</p>

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
	<textarea name="input1" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>

